{% extends "home/layout_three_columns.html" %}

{% load i18n %}

{% block title%}{% trans 'Objects' %}{% endblock %}

{% block content %}
<div class="well">
    <h3>{% trans 'List' %}</h3>
    <ul class="list-unstyled">
        {% for object in objects %}
        <li>
            <span class="pull-right">
                    <a href="{% url 'object-edit' object.pk %}"><i class="fa fa-pencil"></i></a>
                    <a href="{% url 'object-delete' object.pk %}"><i class="fa fa-trash-o"></i></a>
            </span>
            {{ object.name }}
        </li>
        <li>
            <hr/>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
